:root {
    --cBlack: #0b090a;
    --cDarkGray: #161a1d;
    --cGray: #b1a7a6;
    --cLightGray: #d3d3d3;
    --cWhite: #f5f3f4;
    --cBurgundy: #660708;
    --cDarkRed: #a4161a;
    --cRed: #ba181b;
    --cLightRed: #e5383b;
}

html {
    background-color: var(--cDarkGray);
    font-size: 16px;
    color: var(--cWhite);
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.desktop {
    display: none;
}

.mid {
    height: 800px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.image-container {
    overflow: hidden;
}

.image-container > img {
    max-width: 100%;
    max-height: 100%;
}

.title-card {
    display: inline;
    padding: 20px 20px 20px 0;
    max-width: 650px;
}

.btn {
    cursor: pointer;
    max-width: 200px;
    height: 40px;
    min-height: 30px;
    border-radius: 10px;
    background-color: var(--cRed);
    color: var(--cWhite);
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--cDarkRed);
    color: var(--cLightGray);
}

.btn > p {
    margin: 0;
    justify-self: center;
    align-self: center;
}


.title-card > h1 {
    color: var(--cWhite);
    font-size: 2.5rem;
    margin-top: 0;
}

.title-card > p {
    color: var(--cWhite);
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.in {
    display: block;
    color: var(--cLightRed);
}

/* NAVBAR */
.navbar {
    justify-content: space-between;
}

#home {
    color: var(--cWhite);
    margin-right: 1rem;
}

#home > span {
    color: var(--cLightRed);
}

.list-items > li:hover {
    color: var(--cLightGray);
    cursor: pointer;
}

.navbar-icon {
    width: 20%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: var(--cWhite);
}

.fa-bars:hover {
    cursor: pointer;
    color: var(--cLightGray);
}

.list-items {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.list-items > a {
    color: var(--cWhite);
    margin-bottom: .4rem;
    width: 60%;
}

.list-items > a:hover {
    color: var(--cLightGray);
    cursor: pointer;
}

.toggle-nav {
    display: none;
    background-color: red;
    border-radius: 22px;
}


/* WEATHER */

.weather {
    background-color: var(--cBlack);
    width: 90%;
    color: var(--cWhite);
    border-radius: 15px;
    flex-direction: column;
}

.today {
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: flex-start;
    padding-top: 1rem;
    min-height: 120px;
}

.today > h2, .status > h2 {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}

.status > p {
    margin-top: .2rem;
}

.next-days {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
}

.future-day {
    background-color: var(--cDarkGray);
    border-radius: 15px;
    width: 50%;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.future-day > p {
    margin-top: .5rem;
    margin-bottom: .5rem;
}


/* SLIDESHOW */

.slideshow {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    justify-content: center;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    0% {opacity: 0;} 
    100% {opacity: 1; background-color: transparent;}
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* FOOTER */

footer {
    background-color: var(--cBlack);
    color: var(--cLightGray);
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1rem;
    bottom: 0;
}

#middle-footer {
    align-items: center;
    font-size: 1.5rem;
}

.left-footer {
    align-items: center;
}

.right-footer {
    align-items: center;
}

#middle-footer > a {
    color: var(--cLightGray);
    margin-right: .6rem;
}